@font-face {
  font-family: FreePixel;
  src: url(fonts/FreePixel.ttf);
}

@font-face {
  font-family: Retro-Computer;
  src: url(fonts/Petyka-Retro-Computer.ttf);
}

html {
  font-size:62.5%;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

font-family: 'Inter', sans-serif;
  font-family: FreePixel;
  font-size: 1.9rem;
  margin: auto;

  color: #FFF;
  background: #000;
  height: 100%;
}

a {
  color: #FFF;
}

a:hover {
  font-weight: 600;
}

h1,h2,h3,h4{ font-family: Retro-Computer; }

ul {
  margin: 0;
}

button {
  border: solid 2px #FFF;
  font-family: FreePixel;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #000;
  color: #FFF;
  padding: 1rem;
  margin: 2rem auto;
  display: block;
}

button:focus { outline: none; }

button:hover {
  color: #000;
  background-color: #FFF;
}

table {
  border-collapse: separate;
  border-spacing: 10px 10px;
}

table tr td:first-child {
  text-transform: uppercase;
}
table tr td:first-child:after {
  content: ":";
}

input[type=radio] {
  margin: 0 3px 0 15px;
}

#settings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  border: solid 1px #FFF;
  padding: 0 2rem;
  background-color: rgba(100,100,100,0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

#settings:hover {
  opacity: 1;
}

#settings .contents {
  display: none;
}

#settings.active {
  opacity: 1;
  min-height: 100%;
  width: 600px;
}

#settings.active .contents {
  display: block;
}

#settings-close {
  position: absolute;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  top: 0;
  right: 0;
}

#settings-title {
  margin: 1rem;
}
#settings-close,
#settings-title {
  cursor: pointer;
}

#settings ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#tracks label > * {
  display: inline-block;
}

#tracks td > * {
  vertical-align: middle;
  display: inline-block;
}


.square {
  width: 10px;
  height: 10px;
  background-color: white;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #FFF;
}

.circle, .triangle, .square {
  margin-right: 10px;
}

#menu {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.9);
}

#menu .content {
  margin: auto;
  max-width: 900px;
}

#opz {
  display: block;
  margin: 4rem auto;
  max-width: 900px;
}

#midi-connect-error {
  text-align: center;
  color: #f5502f;
}

.hide {
  display: none;
}

.video {
  display: block;
  margin: auto;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  iframe {
    max-width: 200px;
    max-height: 215px;
  }
  #menu {
    width: calc(100% - 2rem);
    padding: 4rem 1rem;
  }

  #opz, img {
    max-width: calc(100% - 2rem);
  }

  .desktop, .tab button.desktop, hr {
    display: none;
  }

  .mobile {
    display: block;
  }
}

